<div class="dashboard-layout">
    <aside class="sidebar">
        <div class="sidebar-header">
            <!-- <img src="assets/ic_logo_login-playstore.png" alt="Logo" /> -->
            <span>Web Skt Manager</span>
        </div>
        <nav>
            <ul>
                <li [ngClass]="{ 'active': router.url === '/home' }" routerLink="/home" routerLinkActive="active"
                    [routerLinkActiveOptions]="{ exact: true }">
                    <i class="material-icons">dashboard</i> Dashboard
                </li>

                <li  *ngIf="rule === 'ADM'" [ngClass]="{ 'active': router.url === '/home/register' }" (click)="goToRegister()">
                    <i class="material-icons">person_add</i> Novo Usuário
                </li>

                <li  *ngIf="rule === 'ADM' || rule === 'MKT'" [ngClass]="{ 'active': router.url === '/home/nova-campanha' }" (click)="goToCampaigns()">
                    <i class="material-icons">launch</i> Criar Campanha
                </li>

                <li  *ngIf="rule === 'ADM' || rule === 'MKT'" [ngClass]="{ 'active': router.url === '/home/new-client' }" (click)="goToNewClient()">
                    <i class="material-icons">launch</i> Novo Cliente
                </li>

                <li  *ngIf="rule === 'ADM' || rule === 'MKT'" [ngClass]="{ 'active': router.url === '/home/reports' }" (click)="goToReports()">
                    <i class="material-icons">bar_chart</i> Gerenciar Campanhas
                </li>

                <li *ngIf="rule === 'ADM'" [ngClass]="{ 'active': router.url === '/home/settings' }" (click)="goToSettings()">
                    <i class="material-icons">construction</i> Chaves
                </li>
                <li [ngClass]="{ 'active': router.url === '/home/change-password' }" (click)="goToChangePassword()">
                    <i class="material-icons">key</i> Alterar Senha
                </li>
                <li (click)="goOut()">
                    <i class="material-icons">logout</i> Sair
                </li>

            </ul>
        </nav>
    </aside>
    <div class="main-content">
        <header class="main-header">
            <div class="user-info">
                <img class="user-photo" [src]="userPhoto" alt="Usuário" />
                <div>
                    <div class="user-name">{{ userName }}</div>
                    <div class="user-date">{{ formattedDate}}</div>
                </div>
            </div>
            <div class="header-title">
                <h1>Web Skt Manager</h1>
                <p>{{ description }}</p>
            </div>
        </header>
        <router-outlet></router-outlet>
    </div>
</div>