<div class="container">
  <div class="login-box">
    <img src="assets/ic_logo_login-playstore.png" alt="Logo" class="logo" />
    <h2>Web Manager</h2>
    <form (ngSubmit)="login()" #form="ngForm">
      <input type="email" placeholder="Email" required [(ngModel)]="email" name="email" />
      <input type="password" placeholder="Senha" required [(ngModel)]="password" name="password" />
      <a href="#">Esqueci minha senha</a>
      <button type="submit">Login</button>
      <p *ngIf="errorMessage" style="color: red">{{ errorMessage }}</p>
    </form>
  </div>
</div>
